.team .box {
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid rgb(62 28 131 / 10%);
  padding: 2rem;
  transition: 0.5s;
}

.team .box:hover {
  box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
  cursor: pointer;
}

.team .details {
  text-align: center;
  margin-top: 30px;
}

.team .img {
  width: 90px;
  height: 90px;
  margin: auto;
  position: relative;
}

.team img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.team .img i {
  color: #108be7;
  font-size: 17px;
  position: absolute;
  top: 35px;
  right: -10px;
}

.team .img::after {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 119px;
  height: 120px;
  border: 5px solid #edf0f5;
  border-radius: 50%;
}

.team label {
  display: inline-block;
  margin-top: 20px;
}

label {
  color: #2d3954;
  font-size: 14px;
}

.team i {
  color: grey;
  margin-right: 5px;
}

.team ul {
  display: inline-block;
  margin-top: 10px;
}

.team ul li {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  align-items: center;
  background-color: #f4f5f7;
  border-radius: 50%;
  margin: 5px;
}

.team .button {
  margin-top: 20px;
}

.team .button i {
  color: white;
  font-size: 20px;
}

.btn3 {
  background: #ff6922;
  border-radius: 50px;
}

.btns {
  background: #27ae60;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  padding: 17px 30px;
}

.team .details {
  margin-top: 30px;
  text-align: center;
}

h4 {
  font-weight: 500;
  margin-top: 10px;
}

.flex {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.btn4 {
  background-color: #000;
  color: #fff;
}

.team .button i {
  color: #fff;
  font-size: 20px;
}

/* .btns{
  padding: 10px;
  margin-right: 6px;
  font-size: 9px;
} */

.container .content :hover {
  transform: translateY(-35px);

}

.container .content .box :hover {
  transform: translateY(0px);

}

@media (min-width: 0px) and (max-width: 240px) {
  .container .content .box .btn3 {
    font-size: 12px;
  }

  .team .container .content .box .details i {
    padding-top: 1rem;
  }

  .team .button {
    padding-top: 1rem;
    margin: -21px;
  }

  .btns {
    padding: 0px;
    font-size: 10px;
    margin-right: 6px;
  }

  .btn4 {
    font-size: 0.7rem;
  }

  .content .box .details ul,
  li {
    padding-left: 0rem;
  }
}

@media (min-width: 234px) and (max-width: 393px) {
  .btns {

    font-size: 12px;
    margin-right: 6px;
  }
}